body {
	background-color: #67c5db;
	font-size: 18px;
	font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
	line-height: 1em;
	font-weight: bold;
}

/* "a" is the anchor tag in hyper text.*/

a, a:active, a:link, a:visited { 
	color: #fff;
	font-size: 14px;
	text-decoration: none;
} 


a:hover { /* "a" here,  decalrs that every single hover instance will behave like this: */
	color: #dedee0;
}

.container { /* the entire container is 100% of the user's screen */
	width: 100%;
	height: 323px;
}

.login { /* This dictates the dimensions of the box around the text feilds */
	width: 500px;
	height: 372.5px;
	border: 2px solid #a1a1a1;
	box-shadow: inset 0 0 5px #a1a1a1;
	border-radius: 10px;
	margin: 10% auto;/* This forces the text-field-box to be 10% from the top, and auto-centered based on whatever 100% of the user's screen is */
}

.form_header { /* the container that says "please login". */
	width: 100%;
	height: 10%;
	background-color: #dedee0;
	border-bottom: 2px solid #a1a1a1;
	text-align: center;
	padding: 3% 0 0 0;/* This defines how far from the top the text is, top,right,bottom,left. */
	border-radius: 10px 10px 0 0;/* This defines how rounded the corners are */
}

/* APPLIES TO EVERY "form" TAG */

form { /* dimensions and style of everything in the "form" tag, ***Under the predefined constraints set in ".container" */
	background-color: #eff0f2;
	padding: 5% 5%; /* this tells everything in form to be 5% (from the top, and from the right) away  from the Border of "form_header". */
	border-radius: 0 0 10px 10px;
}

/* APPLIES TO EVERY "input" TAG WITH "type" IN IT */

input[type="text"], /* This defines the dimensions of the text fields for "username" and "password". */
input[type="password"] {
	outline: none;
	font-size: 20px;
	width: 450px;
	font-family: caption;
	border: 4px double #dedee0; /* this just give it a pointless border, with 2 lines instead of one. */
	padding: 5px;
	margin: 5% 0 0 0; /* Both text fields should be 5% from the top, 22.5 pixels in this case */
}

input[type="text"]:focus, /* ".focus" Means, this is what will happen when this is clicked. */
input[type="password"]:focus { /* The following are some actions or changes that will take place when ".focus" (or when the user clicks on, or interacts with) occurs.  */
	border: 0 0 5px #000;
	box-shadow: inset 0 0 10px #a1a1a1;
}

.btn { /* defines the size of the "login" button */
	outline: none;
	color: #a1a1a1;
	font-weight: bold;
	font-size: 20px;
	width: 125px;
	height: 50px;
	margin: 45px;
	text-align: center;
	border-radius: 25px;
	background-color: #dedee0;
	border: 2px solid #a1a1a1;
}

.btn:hover {
	color: #000;
	background-color: #dedee0;
	box-shadow: inset 0 0 5px #000;
}

.chk { /*defines characteristics of the little checkbox next to "rem" */
	margin: 5% 0 0 0; /* Checkbox & "rem" string, 5% right of the edge. */
}

.rem { /* Defines the "rem" string text. */
	margin: 5% 0 0 10px; /* Tells text to be 10 pixels from the left edge, and 5% down relative to the Parent height of 323px.  */
	font-size: 12px; /* this breaks from the Parent ".container", and has it's own font size. */
}

.forgot { /* this sets up a "space" for the ".forgot" class. */
	width: 100%; /* this means, forgot is centered (on the x-axis) 100% relative to ".login", which is 500 pixels wide in this case. */
	font-size: 3em; 
} /* Since the ".forgot" class by itself, doesn't have any content or text of its own (other than the link obviously), nothing else is stated here in terms of style. */

.forgot a { /* This defines the hypertext link, referenced by the anchor under the ."forgot" class */
	margin: 0 0 0 35%;
}
















